$white: #ffffff;
$black: #000000;
$purple: #421e6f;
$red: #da292e;
$green: #4eb637;
$lightGray: #f5f5f5;
$gray: #d1d5db;
$darkGray: #3e4757;
$darkBlue: #4784a8;

$bodyBg: $lightGray;
$bodyClr: $darkGray;
$formFieldBorder: 1px solid $gray;
$linkClr: $darkBlue;
$headerBg: $purple;
