.t_body {
  font-family: 'Nunito Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c_form .button, .m_header .main_nav-link {
  text-transform: uppercase;
  letter-spacing: 0.120em;
}

.l_app {
  padding: 32px 32px;
  position: relative;
}
.l_app-header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 344px;
  padding: 32px 32px;
}
.l_app-main {
  margin-left: 312px;
}
.l_app-main-topbar {
  margin-bottom: 32px;
}

.l_guest {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.t_body {
  background: #f5f5f5;
  color: #3e4757;
}

/* No files to import found in dynamic/* */
.c_avatar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  line-height: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: linear-gradient(to right, #713cee, #c491f8);
  color: #ffffff;
  outline: 2px solid #ffffff;
}
.c_avatar:before {
  content: attr(data-text);
  font-weight: 900;
  font-size: 13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

.c_form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.c_form .form_row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  row-gap: 6px;
}
.c_form .form_row.l--submit {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: center;
  align-items: center;
  column-gap: 12px;
}
.c_form .form_row .label, .c_form .form_row .text, .c_form .form_row .textarea {
  display: block;
  width: 100%;
}
.c_form .form_row .text, .c_form .form_row .textarea, .c_form .form_row .checkbox {
  border: 1px solid #d1d5db;
}
.c_form .form_row .text:focus, .c_form .form_row .textarea:focus, .c_form .form_row .checkbox:focus {
  border: 1px solid #87d5dc;
  outline: 3px solid #d5f1f3;
}
.c_form .form_row .text, .c_form .form_row .textarea {
  border-radius: 6px;
  font: inherit;
  color: inherit;
  font-size: 16px;
  padding: 0 13px;
}
.c_form .form_row .text {
  height: 42px;
}
.c_form .form_row .checkbox {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.c_form .form_row .checkbox:active, .c_form .form_row .checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.c_form .form_row .checkbox:not(:focus):checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.c_form .form_row .checkbox:checked:after {
  content: '\2714';
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}
.c_form .form_row .label {
  font-size: 14px;
}
.c_form .form_row .label span {
  display: inline-block;
  vertical-align: middle;
}
.c_form .link {
  font-size: 14px;
  color: #4784a8;
  text-decoration: underline;
}
.c_form .link:hover {
  color: #5d98bb;
  text-decoration: none;
}
.c_form .button {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  height: 34px;
  padding: 0 16px;
  border-radius: 6px;
  border: none;
  background: #0b87f2 linear-gradient(to right, #0fbef1, #0b87f2);
  color: #ffffff;
  font-size: 12px;
}

.c_guest_card {
  border-radius: 8px;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.1), 0 6px 8px -2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px 24px;
  width: 448px;
}
.c_guest_card p:not(:first-child), .c_guest_card ul:not(:first-child), .c_guest_card ol:not(:first-child), .c_guest_card .c_form:not(:first-child) {
  margin-top: 16px;
}
.c_guest_card p:not(:last-child), .c_guest_card ul:not(:last-child), .c_guest_card ol:not(:last-child), .c_guest_card .c_form:not(:last-child) {
  margin-bottom: 16px;
}
.c_guest_card .c__errors {
  color: #da292e;
}
.c_guest_card ul {
  list-style: disc inside;
}
.c_guest_card .c__status {
  color: #4eb637;
}

.u_flex_middle_split {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.m_header {
  border-radius: 8px;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.1), 0 6px 8px -2px rgba(0, 0, 0, 0.1);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  height: 100%;
  overflow: auto;
  background: #421e6f;
  color: #ffffff;
  padding: 32px 0;
}
.m_header .logo {
  width: 76%;
  margin: 0 auto 18px;
}
.m_header .main_nav-link {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  column-gap: 18px;
  height: 60px;
  padding: 0 24px;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
.m_header .main_nav-link .icon {
  height: 24px;
  width: 24px;
  text-align: center;
}
.m_header .main_nav-link.active {
  background: #fd644f linear-gradient(to right, #f18d27, #fd644f);
}
.m_header .main_nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fd644f linear-gradient(#f18d27, #fd644f);
  width: 0;
  transition: width 250ms;
}
.m_header .main_nav-link > * {
  transition: transform 250ms;
}
.m_header .main_nav-link:hover:not(.active):before, .m_header .main_nav-link:focus:not(.active):before {
  width: 8px;
}
.m_header .main_nav-link:hover:not(.active) > *, .m_header .main_nav-link:focus:not(.active) > * {
  transform: translateX(8px);
}

.m_topbar {
  border-radius: 8px;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.1), 0 6px 8px -2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  color: #3e4757;
  padding: 12px 18px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.m_topbar .search_label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.m_topbar .c__search_form {
  position: relative;
  z-index: 1;
}
.m_topbar .c__search_form .text {
  background: #f0f3f7 url(../img/search.svg) no-repeat top 50% left 16px/16px;
  color: #3e4757;
  font-size: 16px;
  height: 40px;
  width: 280px;
  border-radius: 20px;
  padding: 0 16px 0 40px;
}
.m_topbar .c__search_form .text:focus {
  position: relative;
  z-index: 1;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: normal;
}
body *, body *:before, body *:after {
  box-sizing: inherit;
}

img, svg {
  display: block;
  border: 0;
  max-width: 100%;
}

svg {
  fill: currentColor;
}

video {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

figure, fieldset, legend, button, input, textarea, ul, ol, li, h1, h2, h3, h4, h5, h6, p, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  line-height: 1;
  font-weight: inherit;
}

p {
  line-height: unset;
}

sup {
  font-size: 0.6em !important;
  display: inline-block !important;
  vertical-align: top !important;
  margin-top: 0.2em !important;
  top: auto !important;
  line-height: 1 !important;
}

fieldset {
  text-align: inherit;
  border: none;
}
fieldset legend {
  border: none;
}

input, textarea {
  font: inherit;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

button {
  display: inline-block;
  font: inherit;
  border: none;
  background: none;
  color: inherit;
  text-align: inherit;
  align-items: inherit;
  cursor: pointer;
  outline: none;
}

hr {
  border: none;
  background: none;
}

iframe {
  display: block;
  border: none;
  width: 100%;
}

select {
  border: none;
  border-radius: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  color: inherit;
  text-transform: inherit;
}

.offscreen {
  position: absolute;
  left: -9999em;
  right: auto;
  height: 0;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .desktop_only {
    position: absolute;
    left: -9999em;
    right: auto;
    height: 0;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  .mobile_only {
    position: absolute;
    left: -9999em;
    right: auto;
    height: 0;
    overflow: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
