$tabletMin: 1024px;
$desktopMin: 1280px;
$widescreenMin: 1440px;

@mixin mobileMax {
    @media ( max-width: $tabletMin - 1 ) {
        @content;
    }
}

@mixin tabletMin {
    @media ( min-width: $tabletMin ) {
        @content;
    }
}

@mixin tablet {
    @media ( min-width: $tabletMin ) and ( max-width: $desktopMin - 1 ) {
        @content;
    }
}

@mixin tabletMax {
    @media ( max-width: $desktopMin - 1 ) {
        @content;
    }
}

@mixin desktopMin {
	@media ( min-width: $desktopMin ) {
		@content;
	}
}

@mixin desktop {
	@media ( min-width: $desktopMin ) and ( max-width: $widescreenMin ) {
		@content;
	}
}

@mixin desktopNarrow {
	@media ( min-width: $desktopMin ) and ( max-width: $widescreenMin ) and ( max-aspect-ratio: 1199/800 ) {
		@content;
	}
}

@mixin widescreen {
	@media ( min-width: $widescreenMin ), ( min-aspect-ratio: 1200/800 ) {
		@content;
	}
}
