.c_form {
    @include flexbox(column);
    row-gap: 20px;
    .form_row {
        @include flexbox(column);
        &.l--submit {
            @include flexbox(middle right);
            column-gap: 12px;
        }
        row-gap: 6px;
        .label, .text, .textarea {
            display: block;
            width: 100%;
        }
        .text, .textarea, .checkbox {
            border: $formFieldBorder;
            &:focus {
                border: 1px solid #87d5dc;
                outline: 3px solid #d5f1f3;
            }
        }
        .text, .textarea {
            border-radius: 6px;
            font: inherit;
            color: inherit;
            font-size: 16px;
            padding: 0 13px;
        }
        .text {
            height: 42px;
        }
        .checkbox {
            -webkit-appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            vertical-align: middle;
            margin-top: 0;
            margin-bottom: 0;
            &:active, &:checked:active {
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            }

            &:not(:focus):checked {
                background-color: #e9ecee;
                border: 1px solid #adb8c0;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                color: #99a1a7;
            }
            position: relative;
            &:checked:after {
                content: '\2714';
                font-size: 12px;
                position: absolute;
                top: 0px;
                left: 3px;
                color: #99a1a7;
            }
        }
        .label {
            font-size: 14px;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .link {
        font-size: 14px;
        color: $linkClr;
        text-decoration: underline;
        &:hover {
            color: lighten($linkClr, 8);
            text-decoration: none;
        }
    }
    .button {
        @include flexbox(inline middle center);
        height: 34px;
        padding: 0 16px;
        border-radius: 6px;
        border: none;
        background: #0b87f2 linear-gradient(to right, #0fbef1, #0b87f2);
        color: $lightTxtClr;
        font-size: 12px;
        @extend %type-headline;
    }
}
