.c_guest_card {
    border-radius: 8px;
    background: $white;
    box-shadow: 0 3px 6px -2px dark(10), 0 6px 8px -2px dark(10);
    padding: 20px 24px;
    width: 448px;
    p, ul, ol, .c_form {
        @include margin(16px);
    }
    .c__errors {
        color: $red;
    }
    ul {
        list-style: disc inside;
    }
    .c__status {
        color: $green;
    }
}
