.c_guest_card {
    @include t_card;
    background: $lightCardBg;
    padding: 20px 24px;
    width: 448px;
    p, ul, ol, .c_form {
        @include margin(16px);
    }
    .c__errors {
        color: $red;
    }
    ul {
        list-style: disc inside;
    }
    .c__status {
        color: $green;
    }
}
