.l_app {
    $header_width: 344px;
    $padding: 32px;
    padding: $padding $padding;
    position: relative;
    &-header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: $header_width;
        padding: $padding $padding;
    }
    &-main {
        margin-left: $header_width - $padding;
        &-topbar {
            margin-bottom: $padding;
        }
    }
}
