.l_app {
    $header_width: 280px;
    $padding: 32px;
    padding: $padding $padding;
    position: relative;
    &-header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
    &-main {
        &-topbar {
            margin-bottom: $padding;
        }
    }
    @include desktopMin {
        &-header {
            width: $header_width + ( $padding * 2 );
            padding: $padding $padding;
        }
        &-main {
            margin-left: $header_width + $padding;
        }
    }
    @include tabletMax {
        &-header {
            width: $header-width;
        }
        &-main {
            margin-left: $header_width;
        }
    }
}
