.l_app {
    $header_width: 344px;
    padding: 32px 32px;
    position: relative;
    &-header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: $header_width;
        padding: 32px 32px;
    }
    &-main {
        margin-left: $header_width;
    }
}
